body{
    background-color: rgb(248, 249, 250);
}
#logo1{
    height: 10vh;
    margin-left: 20%;
}

#navbarItems{
    padding-right: 7vh;
}

.nav-link{
    margin-left: 5vh;
    font-size: 3vh;
    font-family:'titin' ;
    letter-spacing: 0.2rem;
}
#nav-linkblue{
    color: rgb(0, 162, 255);
}
.navbar-dark .navbar-nav .nav-link:hover {
    position: relative;
    transition: ease-in-out 0.5s;
    color: rgb(0, 162, 255);
  }


@font-face{
    font-family: 'titin';
    src: url('/abraham/1\ Abraham.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}
#switchesButtons{
    background-color: rgb(0, 119, 255);
    /* teste */
}

#setaSlide{
    border-radius: 30px;
    height: 5vh;
    width: 3vh;
    padding: 2vh;
    /* teste */
}

.divMain{
    background-color: rgb(241, 241, 241);
    height: 80vh;
}

footer p{
    margin-bottom: 0;
    color: white
}
.centerP{
    text-align: center;
    margin-left: 50%;
    transform: translate(-50%, -50%);
}

footer{
    height: 20vh;
}
















#footer{
    width: 100%;
    text-align: center;
}