<!DOCTYPE html>
<html lang="en">

<head>
    <title>Criar Evento</title>
</head>

<body class="d-flex flex-column min-vh-100">
    {{!-- <header>
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <!-- logo -->
            <div class="container-fluid">
                <a class="navbar-brand" href="#">
                    <img id="logo1" src="../img/logo.png" class="img-fluid" alt="Logo">
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <!-- Barra de navegação -->
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul id="navbarItems" class="navbar-nav ms-auto mb-2 mb-lg-0">
                        <li id="nav-link1" class="nav-item">
                            <a class="nav-link active" aria-current="page" href="/">Pagina Inicial</a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link" href="/#sobreId">sobre</a>
                        </li>

                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                                data-bs-toggle="dropdown" aria-expanded="false">
                                Eventos
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <li><a class="dropdown-item" href="/eventos">Únicos</a></li>
                                <li><a class="dropdown-item" href="#">Frequentes</a></li>
                                <li>
                                    <hr class="dropdown-divider">
                                </li>
                                <li><a class="dropdown-item" href="/criarEv">Criar Evento</a></li>
                                <li><a class="dropdown-item" href="/editarEv">Editar Evento</a></li>
                                <li><a class="dropdown-item" href="/meusEv">Meus Eventos</a></li>
                                <li><a class="dropdown-item  modal-editCadastro">Editar Cadastro</a></li>
                                <li><a class="dropdown-item" href="/faq">Dúvidas</a></li>
                            </ul>
                        </li>

                        <li class="nav-item">


                            <a id="nav-linkblue" class="nav-link accAcess">{{logadoounao}}</a>


                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header> --}}

    {{!-- ============================= Conteúdo da pagina ========================= --}}

    <div id="body-contentEv">

        <section id="barraLateralEv">
            <div id="txt_lateral_Ev">
                <h6 id="iconEvent"><i class="bi bi-calendar2-event"></i></h6>
                <h1>Crie o seu evento.</h1>
                <p>"Gostaríamos de salientar que é impressionante o serviço que vocês fazem. É ótimo ter a oportunidade
                    de
                    trabalhar com vocês.
                    Saibam que contribuem significativamente para a nossa sociedade!"
                    <br><br><br>
                </p>
                <h5>Equipe de desenvolvedores - Charity Radar</h5>
            </div>
        </section>

        <section id="mainContentEv">
            <h1>Vamos criar seu evento</h1>
            <form action="/cadastroevento" method='post' enctype="multipart/form-data">
                <div id="formPlace">
                    <div id="formEv">
                        <div class="divInputs input-group mb-3">
                            <input type="text" name='nome' class="form-control inputClass" placeholder="Nome do evento">
                            <input type="text" name='numero' class="form-control inputClass"
                                placeholder="Número para contato (Opicional)">
                        </div>
                        <div class="divSelects input-group mb-3">
                            <select name='tipo' class="form-select inputClass">
                                <option selected>Selecione o tipo de evento</option>
                                <option value="unico">Unico</option>
                                <option value="frequente">Frequente</option>
                            </select>
                            <select name='cidade' class="form-select inputClass">
                                <option selected>Selecione a Cidade</option>
                                <option value="unico">Belo Horizonte</option>
                            </select>
                        </div>
                        <div class="divInputs input-group mb-3">
                            <input name='rua' type="text" class="form-control inputClass"
                                placeholder="Endereço do evento (Rua, Bairro e número)">
                            <input type="text" name='bairro' id="bairroEnd" class="inputClass" placeholder="Bairro">
                            <input type="text" name='numerorua' id="numEnd" class="inputClass" placeholder="Número">
                        </div>
                        <div id="divAnexo" class="input-group mb-3">
                            <div class="divslabel mb-3">
                                <label for="formFile" class="form-label">Foto de capa do seu evento</label>
                                <input class="form-control inputClass" name='imagemcapa' type="file" id="formFile">
                            </div>
                            <div class="divslabel mb-3">
                                <label for="formFileMultiple" class="form-label">Fotos para seu evento anúncio</label>
                                <input class="form-control inputClass" name='imagens' type="file" id="formFileMultiple"
                                    multiple>
                            </div>
                        </div>

                        <div id="inputDesc" class="input-group">
                            <span class="input-group-text">Descrição do evento</span>
                            <textarea name='descricao' id="" class="form-control inputClass"></textarea>
                        </div>
                        <div id="buttonEv">
                            <button type="submit" class="btnEv btn btn-outline-primary">Cadastrar Evento</button>
                        </div>
                    </div>

                </div>
            </form>
        </section>

    </div>














    <!-- Rodapé -->
    <footer class="mt-auto container-fluid bg-dark d-flex align-items-center">

        <div class="centerP">
            <p>@copryght Cheryt Radar</p>
        </div>

    </footer>
</body>

</html>