<!DOCTYPE html>
<html lang="en">

<head>
    <title>Criar Evento</title>
</head>

<body class="d-flex flex-column min-vh-100">


    {{!-- ============================= Conteúdo da pagina ========================= --}}

    <div id="body-contentEv">

        <section id="barraLateralEv">
            <div id="txt_lateral_Ev">
                <h6 id="iconEvent"><i class="bi bi-calendar2-event"></i></h6>
                <h1>Crie o seu evento.</h1>
                <p>"Gostaríamos de salientar que é impressionante o serviço que vocês fazem. É ótimo ter a oportunidade
                    de
                    trabalhar com vocês.
                    Saibam que contribuem significativamente para a nossa sociedade!"
                    <br><br><br>
                </p>
                <h5>Equipe de desenvolvedores - Charity Radar</h5>
            </div>
        </section>

        <section id="mainContentEv">
            <h1>Vamos criar seu evento</h1>
            <form action="/cadastroevento" method='post' enctype="multipart/form-data">
                <div id="formPlace">
                    <div id="formEv">
                        <div class="divInputs input-group mb-3">
                            <input type="text" name='nome' class="form-control inputClass" placeholder="Nome do evento">
                            <input type="text" name='numero' class="form-control inputClass"
                                placeholder="Número para contato (Opicional)">
                        </div>
                        <div class="divSelects input-group mb-3">
                            <select name='tipo' class="form-select inputClass">
                                <option selected>Selecione o tipo de evento</option>
                                <option value="unico">Unico</option>
                                <option value="frequente">Frequente</option>
                            </select>
                            <select name='cidade' class="form-select inputClass">
                                <option selected>Selecione a Cidade</option>
                                <option value="Belo Horizonte">Belo Horizonte</option>
                            </select>
                        </div>
                        <div class="divInputs input-group mb-3">
                            <input name='rua' type="text" class="form-control inputClass"
                                placeholder="Endereço do evento (Rua, Bairro e número)">
                            <input type="text" name='bairro' id="bairroEnd" class="inputClass" placeholder="Bairro">
                            <input type="text" name='numerorua' id="numEnd" class="inputClass" placeholder="Número">
                        </div>
                        <div id="" class="row bg-white p-2 mx-2">
                            {{!-- Data para tipo de evento unico --}}
                            <div class="mb-3 col-6">
                                <div id="div1" class="divslabel mb-3">
                                    <label for="formFile" class="form-label">Data do evento</label>
                                    <input type="input" name="data" class="form-control inputClass"
                                        placeholder="Exemplo: 00/00/0000">
                                    <input type="input" name="hora" class="form-control inputClass my-2"
                                        placeholder="Informar a hora">
                                </div>

                            </div>
                            <div id="" class="mb-3 col-6">
                                <div class="divslabel mb-3">
                                    <label for="formFile" class="form-label">Fotos do Evento</label>
                                    <input class="form-control inputClass" name='imagemcapa' type="file" id="formFile">
                                </div>
                            </div>

                            <div id="inputDesc" class="">
                                <span class="">Descrição do evento</span>
                                <textarea name='descricao' id="" class="form-control inputClass"></textarea>
                            </div>
                            <div id="buttonEv">
                                <button type="submit" class="btnEv btn btn-outline-primary">Cadastrar Evento</button>
                            </div>
                        </div>
                    </div>

                </div>
            </form>
        </section>

    </div>















</body>

</html>