<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Editar Cadastro</title>
  <link rel="icon" href="/img/favicon.jpg" />
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
  <link rel="stylesheet" href="../css/style.css">
  <link rel="stylesheet" href="../css/normalize.css">
  <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.0/css/line.css">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.2/font/bootstrap-icons.css">
</head>

<body class="d-flex flex-column min-vh-100">
  <header>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <!-- logo -->
      <div class="container-fluid">
        <a class="navbar-brand" href="#">
          <img id="logo1" src="../img/logo.png" class="img-fluid" alt="Logo">
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <!-- Barra de navegação -->
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul id="navbarItems" class="navbar-nav ms-auto mb-2 mb-lg-0">
            <li id="nav-link1" class="nav-item">
              <a class="nav-link active" aria-current="page" href="/">Pagina Inicial</a>
            </li>

            <li class="nav-item">
              <a class="nav-link" href="#">sobre</a>
            </li>

            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown"
                aria-expanded="false">
                Eventos
              </a>
              <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                <li><a class="dropdown-item" href="/eventos">Únicos</a></li>
                <li><a class="dropdown-item" href="#">Frequentes</a></li>
                <li>
                  <hr class="dropdown-divider">
                </li>
                <li><a class="dropdown-item" href="/criarEv">Criar Evento</a></li>
                <li><a class="dropdown-item" href="/editarEv">Editar Evento</a></li>
                <li><a class="dropdown-item" href="/editarC">Editar Cadastro</a></li>
                <li><a class="dropdown-item" href="/faq">Dúvidas</a></li>
              </ul>
            </li>

            <li class="nav-item">


              <a id="nav-linkblue" class="nav-link accAcess">{{logadoounao}}</a>


            </li>
          </ul>
        </div>
      </div>
    </nav>
  </header>


  <div id="bodyEdCadastro">
    <section id="mainContentCad">
      <h1>Editar Cadastro</h1>
      <div class="form-Ed">



        <form action="/editouCadastro" method='post'>
          <div class="divInputs input-group mb-3">
            <input type="text" name='nome' class="form-control inputClass" placeholder="Alterar nome">
            <input type="password" name='senha' class="form-control inputClass"
              placeholder="Alterar senha">
          </div>
          <div id="buttonCev">
              <input type="submit" class="btnCev btn btn-outline-primary" value="Salvar Alterações">
            </div>
        </form>
      </div>
  </div>
  </div>
  </div>
  </div>
  </section>

  </div>


  <!-- Rodapé -->
  <footer class="mt-auto container-fluid bg-dark d-flex align-items-center">

    <div class="centerP">
      <p>@copryght Cheryt Radar</p>
    </div>

  </footer>

  {{!-- ------------------------------------------------------------------------------------ --}}

  {{!-- <script src="../js/usability.js"></script> --}}

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
    crossorigin="anonymous"> </script>

</body>

</html>