<!DOCTYPE html>
<html lang="en">

<head>
    <title>Eventos</title>
</head>

<body>

    <div class="container-fluid vh-100 overflow-auto">
        <div class="row-fluid">


            <div class="row text-start overflow-auto bg-light">

                <div class="my-1">
                    <h2 class="text-center text-dark"> Eventos </h2>
                </div>
                <div class="my-1 ">
                    <form action="/eventos" method="post">

                        <select name="tipo" class="tiposs form-select mx-auto w-50" id="">
                            <option value="todos" selected>Todos</option>
                            <option value="unico">Únicos</option>
                            <option value="frequente">Frequentes</option>
                        </select>
                        <button type="submit" class="btn btn-primary"></button>
                    </form>
                </div>



                <!-- CARDS EVENTOS -->

                <div class="row mx-auto">
                    {{#each eventos}}
                    <div class="col-md-4 col-sm-6 my-2 ">
                        <div class="card text-center">
                            <div style="min-height: 200px;" class="card-body">
                                <h5 class="card-title">{{name}}</h5>
                                <p class="card-text">{{endereco}}</p>
                                <form action="/modalEventos/{{id}}" method="get">
                                    <button type="submit" class="btn btn-outline-primary">Abrir Evento</button>
                                </form>
                            </div>
                        </div>
                    </div>


                    {{else}}
                    <h3>Nenhum Evento por aqui.</h3>


                    {{/each}}
                    

                </div>

            </div>




        </div>


    </div>








</body>

</html>