<!DOCTYPE html>
<html lang="en">

<head>
    <title>FAQ</title>
</head>

<body class="d-flex flex-column min-vh-100">

    <!-- FAQ -->
    <main class="faq-container" role="main">

        <!-- Pesquisa -->
        <section class="faq-pesquisa">
            <div class="faq-pesquisa-duvida">
                <h1>Como podemos te ajudar?</h1>
                <input type="text" placeholder="Pesquisa" aria-placeholder="Pesquisa">
            </div>
        </section>
        <div class="faq-content-divider"></div>

        <!-- Segmento de Usuarios -->
        <section class="faq-segment-section">
            <div class="faq-segment-container-w-clearfix">
                <!-- Organizador -->
                <div class="faq-segment-user">
                    <div id="div-organizadores" class="faq-segment-description">
                        <div class="faq-segment-img-block">
                            <img src="" class="faq-segment-img">
                        </div>
                        <div class="faq-segment-description-block">
                            <h2 class="segment-faq-section-title">Organizadores</h2>
                            <p class="segment-faq-home-text">Está com alguma dúvida em relação à ingressos,
                                inscrições, processo de compra, troca de titularidade ou cancelamentos?</p>
                        </div>
                        <div class="faq-content-divider"></div>
                    </div>
                    <ul class="faq-contact-channels">
                        <li class="contact-segment-list">
                            <div class="faq-segment-bullet">
                                <img
                                    src="//theme.zdassets.com/theme_assets/101015/1a8eab32d380b3331598f8f8f5d94b7ac70c7bac.svg" />
                            </div>
                            <div class="faq-segment-topic-text">Veja as dúvidas frequentes de <br>
                                <a href="#" class="faq-topic-link">Organizadores
                                </a>
                            </div>
                        </li>
                        <li class="contact-segment-list">
                            <div class="faq-segment-bullet">
                                <img
                                    src="//theme.zdassets.com/theme_assets/101015/5d275daed291e7996af3a1e11dc163fe28feda1d.svg" />
                            </div>
                            <div class="faq-segment-topic-text">Ou
                                <a href="#" class="faq-topic-link">envie sua
                                    dúvida por
                                    aqui</a><br>
                                <em class="sympla-topic-obs-text">(tempo de resposta: até 1 dia
                                    útil)</em>
                            </div>
                        </li>
                    </ul>
                </div>

                <!-- OU -->
                <div class="faq-ou">
                    <span>ou</span>
                </div>

                <!-- Doadores -->
                <div class="faq-segment-user">
                    <div id="div-clientes" class="faq-segment-description">
                        <div class="faq-segment-img-block">
                            <img src="" class="faq-segment-img">
                        </div>
                        <div class="faq-segment-description-block">
                            <h2 class="segment-faq-section-title">Doadores</h2>
                            <p class="segment-faq-home-text">Está com alguma dúvida em relação à ingressos,
                                inscrições, processo de compra, troca de titularidade ou cancelamentos?</p>
                        </div>
                        <div class="faq-content-divider"></div>
                    </div>
                    <ul class="faq-contact-channels">
                        <li class="contact-segment-list">
                            <div class="faq-segment-bullet">
                                <img
                                    src="//theme.zdassets.com/theme_assets/101015/1a8eab32d380b3331598f8f8f5d94b7ac70c7bac.svg" />
                            </div>
                            <div class="faq-segment-topic-text">Veja as dúvidas frequentes de <br>
                                <a href="#" class="faq-topic-link">Doadores
                                </a>
                            </div>
                        </li>
                        <li class="contact-segment-list">
                            <div class="faq-segment-bullet">
                                <img
                                    src="//theme.zdassets.com/theme_assets/101015/5d275daed291e7996af3a1e11dc163fe28feda1d.svg" />
                            </div>
                            <div class="faq-segment-topic-text">Ou
                                <a href="#" class="faq-topic-link">envie sua
                                    dúvida por
                                    aqui</a><br>
                                <em class="sympla-topic-obs-text">(tempo de resposta: até 1 dia
                                    útil)</em>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </section>

        <!-- Duvidas Frequentes -->
        <section class="faq-duvidas-frequentes">
            <div class="faq-conteudo-duvidas">
                <h2>Dúvidas frequentes</h2>
                <div class="faq-content-divider"></div>
                <div class="faq-row">
                    <ul class="faq-column-wrapper">
                        <li class="faq-block-li">
                            <a href="#" class="faq-duvidas-btn">
                                <div class="faq-img-a-btn"></div>
                                <p class="article-duvidas">Paragrafo Duvidas Paragrafo Duvidas Paragrafo Duvidas</p>
                            </a>
                        </li>
                        <li class="faq-block-li">
                            <a href="#" class="faq-duvidas-btn">
                                <div class="faq-img-a-btn"></div>
                                <p class="article-duvidas">Paragrafo Duvidas Paragrafo Duvidas Paragrafo Duvidas</p>
                            </a>
                        </li>
                        <li class="faq-block-li">
                            <a href="#" class="faq-duvidas-btn">
                                <div class="faq-img-a-btn"></div>
                                <p class="article-duvidas">Paragrafo Duvidas Paragrafo Duvidas Paragrafo Duvidas</p>
                            </a>
                        </li>
                        <li class="faq-block-li">
                            <a href="#" class="faq-duvidas-btn">
                                <div class="faq-img-a-btn"></div>
                                <p class="article-duvidas">Paragrafo Duvidas Paragrafo Duvidas Paragrafo Duvidas</p>
                            </a>
                        </li>
                        <li class="faq-block-li">
                            <a href="#" class="faq-duvidas-btn">
                                <div class="faq-img-a-btn"></div>
                                <p class="article-duvidas">Paragrafo Duvidas Paragrafo Duvidas Paragrafo Duvidas</p>
                            </a>
                        </li>
                        <li class="faq-block-li">
                            <a href="#" class="faq-duvidas-btn">
                                <div class="faq-img-a-btn"></div>
                                <p class="article-duvidas">Paragrafo Duvidas Paragrafo Duvidas Paragrafo Duvidas</p>
                            </a>
                        </li>
                        <li class="faq-block-li">
                            <a href="#" class="faq-duvidas-btn">
                                <div class="faq-img-a-btn"></div>
                                <p class="article-duvidas">Paragrafo Duvidas Paragrafo Duvidas Paragrafo Duvidas</p>
                            </a>
                        </li>
                        <li class="faq-block-li">
                            <a href="#" class="faq-duvidas-btn">
                                <div class="faq-img-a-btn"></div>
                                <p class="article-duvidas">Paragrafo Duvidas Paragrafo Duvidas Paragrafo Duvidas</p>
                            </a>
                        </li>
                        <li class="faq-block-li">
                            <a href="#" class="faq-duvidas-btn">
                                <div class="faq-img-a-btn"></div>
                                <p class="article-duvidas">Paragrafo Duvidas Paragrafo Duvidas Paragrafo Duvidas</p>
                            </a>
                        </li>
                        <li class="faq-block-li">
                            <a href="#" class="faq-duvidas-btn">
                                <div class="faq-img-a-btn"></div>
                                <p class="article-duvidas">Paragrafo Duvidas Paragrafo Duvidas Paragrafo Duvidas</p>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>



        </section>


    </main>

   

</body>

</html>