<!DOCTYPE html>
<html lang="en">

<head>
  <title>Charity Radar</title>
</head>

<body>

  <div class="container-fluid p-0">
    <!-- Conteúdo principal -->
    <div id="carouselExampleIndicators" class="carousel slide h-auto" data-bs-ride="carousel">

      <!-- botões de pagina -->
      <div class="carousel-indicators">
        <button id="switchesButtons" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0"
          class="active" aria-current="true" aria-label="Slide 1"></button>
        <button id="switchesButtons" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1"
          aria-label="Slide 2"></button>
        <button id="switchesButtons" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2"
          aria-label="Slide 3"></button>
      </div>

      <!-- slides -->
      <div class="carousel-inner vh-100">
        <!-- slide 1 -->
        <div id="slide1" class="carousel-item active divMain vh-100">
          <div class="slideBackground">
            <div class="slideArea">

            </div>

          </div>
        </div>

        <!-- slide 2 -->
        <div class="carousel-item divMain">
          <div class="slideBackground">
            <div class="slideArea">

            </div>
          </div>
        </div>

        <!-- slide 3 -->
        <div class="carousel-item divMain">
          <div class="slideBackground">
            <div class="slideArea">
            </div>
          </div>

        </div>
      </div>

      <!-- Setas dos slides -->
      <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators"
        data-bs-slide="prev">
        <span id="setaSlide" class="carousel-control-prev-icon bg-dark" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators"
        data-bs-slide="next">
        <span id="setaSlide" class="carousel-control-next-icon bg-dark" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>
  </div>

  {{!-- SOBRE --}}
  <section>
    <div id="sobreId" class="container-fluid bgFaq text-light h-auto">
      <div class="row">
        <div class="col-lg-6 mx-auto px-md-5 px-sm-4 py-5 txtSobre thumbnail">
          <h2> <i class="bi bi-people-fill"></i> Quem somos</h2>
          <p>Somos um grupo de estudantes que se juntaram para fazer um típico trabalho de faculdade, neste, tinhamos
            que
            desenvolver algum serviço para poder aplicar tudo o que aprendemos no semestre.</p>
          <h2> <i class="bi bi-card-checklist"></i> O que propomos</h2>
          <p> Apesar de ser um trabalho estudantil, levantamos a ideia de montar um serviço de centralização de
            caridade,
            e
            não apenas como um projeto
            para entregar e ganhar pontos, um projeto para nossa vida, um projeto para mudar vidas.</p>
          <h2> <i class="bi bi-flag-fill"></i> No que acreditamos</h2>
          <p>Nos dias atuais, a sociedade tem se tornado fria e insensível, principalmente após a pandemia. Apesar
            disso,
            nós precisamos buscar nosso lado humano e fazer o bem independente de qualquer
            futura recompensa. Sempre haverão pessoas passando necessidades mas também pessoas com o coração bom
            o suficiente para ajudar, portanto, agora tudo que voce precisa é a sua vontade. Oferecemos uma ferramenta
            simples e eficaz que poderá proporcianar esse encontro e unir a caridade ao necessitado. </p>

        </div>


        <div class="col-lg-6">
          <div class="row">
            <div class="mx-auto">
              <div class="cssload-loader"></div>
            </div>
          </div>
        </div>
      </div>
  </section>



  {{!-- FAQ --}}

  <section id="faq-section">
    <div class="container-fluid p-0 h-auto bg-dark overflow-hidden">

      <div class="row text-center text-light bg-dark pb-4">
        <div class="col">
          <a style="text-decoration:none; color:white;" href="#divFaq">
            <h1>Dúvidas? <i class="bi bi-caret-down-square px-4"></i>
          </a></h1>
        </div>
      </div>

      <div id="divFaq" class="row h-auto">
        <div style="border-right: 2px solid white; border-radius: 21px 21px 21px 21px;" class="col-lg-6 text-light overflow-hidden pb-5 h-auto">
          <div class="my-3 py-3 text-center">
            <h2 class="display-5"><i class="bi bi-megaphone-fill"></i> Organizadores</h2>
            <p class="lead">Perguntas mais frequentes</p>
          </div>

          <div class="bg-light shadow-sm mx-auto h-auto overflow-auto"
            style="width: 85%; max-height:500px; border-radius: 21px 21px 21px 21px;">
            <div class="list-group py-3">
              <a href="#" class="list-group-item list-group-item-action py-3">
                <div class="text-center">
                  <h5 class="mb-1">Titulo da pergunta Organizador</h5>

                </div>
              </a>
              <a href="#" class="list-group-item list-group-item-action py-3">
                <div class="text-center">
                  <h5 class="mb-1">Titulo da pergunta Organizador</h5>

                </div>
              </a>
              <a href="#" class="list-group-item list-group-item-action py-3">
                <div class="text-center">
                  <h5 class="mb-1">Titulo da pergunta Organizador</h5>

                </div>
              </a>
              <a href="#" class="list-group-item list-group-item-action py-3">
                <div class="text-center">
                  <h5 class="mb-1">Titulo da pergunta Organizador</h5>

                </div>
              </a>
              <a href="#" class="list-group-item list-group-item-action py-3">
                <div class="text-center">
                  <h5 class="mb-1">Titulo da pergunta Organizador</h5>

                </div>
              </a>
              <a href="#" class="list-group-item list-group-item-action py-3">
                <div class="text-center">
                  <h5 class="mb-1">Titulo da pergunta Organizador</h5>

                </div>
              </a>
              <a href="#" class="list-group-item list-group-item-action py-3">
                <div class="text-center">
                  <h5 class="mb-1">Titulo da pergunta Organizador</h5>

                </div>
              </a>
              <a href="#" class="list-group-item list-group-item-action py-3">
                <div class="text-center">
                  <h5 class="mb-1">Titulo da pergunta Organizador</h5>

                </div>
              </a>
              <a href="#" class="list-group-item list-group-item-action py-3">
                <div class="text-center">
                  <h5 class="mb-1">Titulo da pergunta Organizador</h5>

                </div>
              </a>
              <a href="#" class="list-group-item list-group-item-action py-3">
                <div class="text-center">
                  <h5 class="mb-1">Titulo da pergunta Organizador</h5>

                </div>
              </a>

            </div>
          </div>
        </div>



        <div style="border-left: 2px solid white; border-radius: 21px 21px 21px 21px;" class="col-lg-6 overflow-hidden pb-5">
          <div class="my-3 p-3 text-light text-center">
            <h2 class="display-5"><i class="bi bi-people-fill"></i> Doadores</h2>
            <p class="lead">Perguntas mais frequentes</p>
          </div>

          <div class="bg-light shadow-sm mx-auto h-auto overflow-auto"
            style="width: 85%; max-height:500px; border-radius: 21px 21px 21px 21px;">
            <div class="list-group py-3">
              <a href="#" class="list-group-item list-group-item-action py-3">
                <div class="text-center">
                  <h5 class="mb-1">Titulo da pergunta Organizador</h5>

                </div>
              </a>
              <a href="#" class="list-group-item list-group-item-action py-3">
                <div class="text-center">
                  <h5 class="mb-1">Titulo da pergunta Organizador</h5>

                </div>
              </a>
              <a href="#" class="list-group-item list-group-item-action py-3">
                <div class="text-center">
                  <h5 class="mb-1">Titulo da pergunta Organizador</h5>

                </div>
              </a>
              <a href="#" class="list-group-item list-group-item-action py-3">
                <div class="text-center">
                  <h5 class="mb-1">Titulo da pergunta Organizador</h5>

                </div>
              </a>
              <a href="#" class="list-group-item list-group-item-action py-3">
                <div class="text-center">
                  <h5 class="mb-1">Titulo da pergunta Organizador</h5>

                </div>
              </a>
              <a href="#" class="list-group-item list-group-item-action py-3">
                <div class="text-center">
                  <h5 class="mb-1">Titulo da pergunta Organizador</h5>

                </div>
              </a>
              <a href="#" class="list-group-item list-group-item-action py-3">
                <div class="text-center">
                  <h5 class="mb-1">Titulo da pergunta Organizador</h5>

                </div>
              </a>
              <a href="#" class="list-group-item list-group-item-action py-3">
                <div class="text-center">
                  <h5 class="mb-1">Titulo da pergunta Organizador</h5>

                </div>
              </a>
              <a href="#" class="list-group-item list-group-item-action py-3">
                <div class="text-center">
                  <h5 class="mb-1">Titulo da pergunta Organizador</h5>

                </div>
              </a>
              <a href="#" class="list-group-item list-group-item-action py-3">
                <div class="text-center">
                  <h5 class="mb-1">Titulo da pergunta Organizador</h5>

                </div>
              </a>

            </div>
          </div>
        </div>
  </section>










  {{!-- ------------------------------------------------------------------------------------ --}}
</body>

</html>