<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Charity Radar</title>
  <link rel="icon" href="../public/img/logo.png" />
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
  <link rel="stylesheet" href="../css/style.css">
  <link rel="stylesheet" href="../css/normalize.css">
  <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.0/css/line.css">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.2/font/bootstrap-icons.css">
</head>

<body class="d-flex flex-column min-vh-100">
  <header>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <!-- logo -->
      <div class="container-fluid">
        <a class="navbar-brand" href="#">
          <img id="logo1" src="../img/logo.png" class="img-fluid" alt="Logo">
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <!-- Barra de navegação -->
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul id="navbarItems" class="navbar-nav ms-auto mb-2 mb-lg-0">
            <li id="nav-link1" class="nav-item">
              <a class="nav-link active" aria-current="page" href="/">Pagina Inicial</a>
            </li>

            <li class="nav-item">
              <a class="nav-link" href="#">sobre</a>
            </li>

            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown"
                aria-expanded="false">
                Eventos
              </a>
              <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                <li><a class="dropdown-item" href="/eventos">Únicos</a></li>
                <li><a class="dropdown-item" href="#">Frequentes</a></li>
                <li>
                  <hr class="dropdown-divider">
                </li>
                <li><a class="dropdown-item" href="/criarEv">Criar Evento</a></li>
                <li><a class="dropdown-item" href="/faq">Dúvidas</a></li>
              </ul>
            </li>

            <li class="nav-item">


              <a id="nav-linkblue" class="nav-link accAcess">Acesse sua conta</a>


            </li>
          </ul>
        </div>
      </div>
    </nav>
  </header>


  <!-- Conteúdo principal -->
  <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">

    <!-- botões de pagina -->
    <div class="carousel-indicators">
      <button id="switchesButtons" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0"
        class="active" aria-current="true" aria-label="Slide 1"></button>
      <button id="switchesButtons" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1"
        aria-label="Slide 2"></button>
      <button id="switchesButtons" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2"
        aria-label="Slide 3"></button>
    </div>

    <!-- slides -->
    <div class="carousel-inner">
      <!-- slide 1 -->
      <div id="slide1" class="carousel-item active divMain">
        <div class="slideBackground">
          <div class="slideArea">
            <div id="imgslide1"></div>
            <div id="imgslide1"></div>
            <div id="imgslide1"></div>
          </div>

        </div>
      </div>

      <!-- slide 2 -->
      <div class="carousel-item divMain">
        <div class="slideBackground">
          <div class="slideArea">

          </div>
        </div>
      </div>

      <!-- slide 3 -->
      <div class="carousel-item divMain">
        <div class="slideBackground">
          <div class="slideArea">
          </div>
        </div>

      </div>
    </div>

    <!-- Setas dos slides -->
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators"
      data-bs-slide="prev">
      <span id="setaSlide" class="carousel-control-prev-icon bg-dark" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators"
      data-bs-slide="next">
      <span id="setaSlide" class="carousel-control-next-icon bg-dark" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>

  {{!-- SOBRE --}}
  <section class="secSobre">
    <div class="leftSobre">
      <div class="txtSobre">
        
        <h2> <i class="bi bi-people-fill"></i> Quem somos</h2>
        <p>Somos um grupo de estudantes que se juntaram para fazer um típico trabalho de faculdade, neste, tinhamos que
          desenvolver algum serviço para poder aplicar tudo o que aprendemos no semestre.</p>
        <h2> <i class="bi bi-card-checklist"></i> O que propomos</h2>
        <p> Apesar de ser um trabalho estudantil, levantamos a ideia de montar um serviço de centralização de caridade,
          e
          não apenas como um projeto
          para entregar e ganhar pontos, um projeto para nossa vida, um projeto para mudar vidas.</p>
        <h2> <i class="bi bi-flag-fill"></i> No que acreditamos</h2>
        <p>Nos dias atuais, a sociedade tem se tornado fria e insensível, principalmente após a pandemia. Apesar disso,
          nós precisamos buscar nosso lado humano e fazer o bem independente de qualquer
          futura recompensa. Sempre haverão pessoas passando necessidades e também pessoas com o coração bom
          o suficiente para ajudar, portanto, tudo que voce precisa é a sua vontade. Oferecemos uma ferramenta eficaz
          que
          poderá proporcianar esse encontro e unir a caridade ao necessitado. </p>
      </div>
    </div>


    <div class="rightSobre">
      <div id="imgRadar"></div>
      <div id="imgGrupo"></div>
    </div>
  </section>

  <!-- Rodapé -->
  <footer class="mt-auto container-fluid bg-dark d-flex align-items-center">

    <div class="centerP">
      <p>@copryght Cheryt Radar</p>
    </div>

  </footer>


  {{!-- MODAL DE LOGIN --}}
  <div id="modal-popup" class="modal-container">
    <div class="container">
      <button id="btnFechar" class="fechar"><i class="uil uil-multiply"></i></button>
      <div class="forms">
        <div class="form login">
          <span class="title">Login</span>

          <form action="/logar" method='post'>
            <div class="input-field">
              <input type="text" name="email" placeholder="Entrar com email" required>
              <i class="uil uil-envelope icon"></i>
            </div>
            <div class="input-field">
              <input type="password" name="senha" class="password" placeholder="Digite sua senha" required>
              <i class="uil uil-lock icon"></i>
              <i class="uil uil-eye-slash showHidePw"></i>
            </div>

            <div class="input-field button">
              <input type="submit" value="Entrar">
            </div>
          </form>

          <div class="login-signup">
            <span class="text">Não possui conta?
              <a href="#" class="text signup-link">Criar conta</a>
            </span>
          </div>
        </div>
        {{!-- ========================================================================== --}}
        <!-- MODAL DE CADASTRO -->

        <div class="form signup">
          <span class="title">Cadastro</span>

          <form action="/cadastroU" method='post'>
            <div class="input-field">
              <input type="text" name='nome' placeholder="Seu nome" required>
              <i class="uil uil-user"></i>
            </div>
            <div class="input-field">
              <input type="text" name='email' placeholder="Seu email" required>
              <i class="uil uil-envelope icon"></i>
            </div>
            <div class="input-field">
              <input type="password" name='senha' class="password" placeholder="Criar uma senha" required>
              <i class="uil uil-lock icon"></i>
            </div>
            <div class="input-field">
              <input type="password" name='senhaC' class="password" placeholder="Confirmar senha" required>
              <i class="uil uil-lock icon"></i>
              <i class="uil uil-eye-slash showHidePw"></i>
            </div>


            <div class="input-field button">
              <input type="submit" value="Criar conta">
            </div>
          </form>

          <div class="login-signup">
            <span class="text">Ja tem uma conta?
              <a href="#" class="text login-link">Fazer Login</a>
            </span>
          </div>
        </div>
      </div>
    </div>
  </div>
  {{!-- ------------------------------------------------------------------------------------ --}}

  <script src="../js/usability.js"></script>

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
    crossorigin="anonymous"> </script>

</body>

</html>