<!DOCTYPE html>
<html lang="en">

<head>
  <title>Charity Radar</title>
</head>

<body>

  <!-- Conteúdo principal -->

  <section>
    <div id="wallp" class="container-fluid p-0 text-center">
      <header>
        <nav class="navbar navbar-expand-lg navbar-light">
          <!-- logo -->
          <div class="container-fluid">
            <a class="navbar-brand" href="/">
              <img id="logo1" src="/img/logo-preta.png" class="img-fluid" alt="Logo">
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
              data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
              aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <!-- Barra de navegação -->
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <ul id="navbarItems" class="navbar-nav ms-auto mb-2 mb-lg-0">
                <li id="nav-link1" class="nav-item">
                  <a class="nav-link active" aria-current="page" href="/">Pagina Inicial</a>
                </li>

                <li class="nav-item">
                  <a class="nav-link" href="/#sobreId">sobre</a>
                </li>

                <li class="nav-item">
                  <a class="nav-link" href="/listaEventos">Eventos</a>
                </li>

                <li class="nav-item">
                  <a id="nav-linkblue" class="nav-link accAcess">{{logadoounao}}</a>

                  <a id="nav-linkblue2" class="nav-link accAcess2 hide" data-bs-toggle="offcanvas"
                    data-bs-target="#offcanvasRight" aria-controls="offcanvasRight"
                    href="#offcanvasExample">{{logadoounao}}</a>
                </li>
              </ul>
            </div>
          </div>
        </nav>
      </header>

      <div class="row">
        <div class="col-12">
          <h1 class="m-0 pt-5 px-3 text-inicial">Aqui voce pode fazer a diferença!</h1>
          <a href="/listaEventos" class="btn bgFaq text-light px-5 py-2 mt-5 shadow p-3 mb-5 rounded">
            <h3>Ver eventos</h3>
          </a>
          <div class="arrow bounce mt-md-2 ">
            <a href="#sobreId">
              <h6 class="text-dark"><i class="bi bi-arrow-bar-down"></i></h6>
            </a>
          </div>
        </div>
      </div>
    </div>

  </section>

  {{!-- SOBRE --}}
  <section>
    <div id="sobreId" class="container-fluid bgFaq text-light h-auto">
      <div class="row">
        <div class="col-lg-6 mx-auto px-md-5 px-sm-4 py-5 txtSobre thumbnail">
          <h2> <i class="bi bi-people-fill"></i> Quem somos</h2>
          <p>Somos um grupo de estudantes que se juntaram para fazer um típico trabalho de faculdade, neste, tinhamos
            que
            desenvolver algum serviço para poder aplicar tudo o que aprendemos no semestre.</p>
          <h2> <i class="bi bi-card-checklist"></i> O que propomos</h2>
          <p> Apesar de ser um trabalho estudantil, levantamos a ideia de montar um serviço de centralização de
            caridade,
            e
            não apenas como um projeto
            para entregar e ganhar pontos, um projeto para nossa vida, um projeto para mudar vidas.</p>
          <h2> <i class="bi bi-flag-fill"></i> No que acreditamos</h2>
          <p>Nos dias atuais, a sociedade tem se tornado fria e insensível, principalmente após a pandemia. Apesar
            disso,
            nós precisamos buscar nosso lado humano e fazer o bem independente de qualquer
            futura recompensa. Sempre haverão pessoas passando necessidades mas também pessoas com o coração bom
            o suficiente para ajudar, portanto, agora tudo que voce precisa é a sua vontade. Oferecemos uma ferramenta
            simples e eficaz que poderá proporcianar esse encontro e unir a caridade ao necessitado. </p>

        </div>


        <div class="col-lg-6">
          <div class="row">
            <div class="mx-auto">
              <div class="cssload-loader"></div>
            </div>
          </div>
        </div>
      </div>
  </section>



  {{!-- FAQ --}}

  <section id="faq-section">
    <div class="container-fluid p-0 h-auto bg-dark overflow-hidden">

      <div class="row text-center text-light bg-dark pb-4">
        <div class="col">
          <a style="text-decoration:none; color:white;" href="#divFaq">
            <h1>Dúvidas? <i class="bi bi-caret-down-square px-4"></i>
          </a></h1>
        </div>
      </div>

      <div id="divFaq" class="row h-auto">
        <div style="border-right: 2px solid white; border-radius: 21px 21px 21px 21px;"
          class="col-lg-6 text-light overflow-hidden pb-5 h-auto">
          <div class="my-3 py-3 text-center">
            <h2 class="display-5"><i class="bi bi-megaphone-fill"></i> Organizadores</h2>
            <p class="lead">Perguntas mais frequentes</p>
          </div>

          <div class="bg-light shadow-sm mx-auto h-auto overflow-auto"
            style="width: 85%; max-height:500px; border-radius: 21px 21px 21px 21px;">
            <div class="list-group py-3">
              <a href="#" class="list-group-item list-group-item-action py-3">
                <div class="text-center">
                  <h5 class="mb-1">Titulo da pergunta Organizador</h5>

                </div>
              </a>
              <a href="#" class="list-group-item list-group-item-action py-3">
                <div class="text-center">
                  <h5 class="mb-1">Titulo da pergunta Organizador</h5>

                </div>
              </a>
              <a href="#" class="list-group-item list-group-item-action py-3">
                <div class="text-center">
                  <h5 class="mb-1">Titulo da pergunta Organizador</h5>

                </div>
              </a>
              <a href="#" class="list-group-item list-group-item-action py-3">
                <div class="text-center">
                  <h5 class="mb-1">Titulo da pergunta Organizador</h5>

                </div>
              </a>
              <a href="#" class="list-group-item list-group-item-action py-3">
                <div class="text-center">
                  <h5 class="mb-1">Titulo da pergunta Organizador</h5>

                </div>
              </a>
              <a href="#" class="list-group-item list-group-item-action py-3">
                <div class="text-center">
                  <h5 class="mb-1">Titulo da pergunta Organizador</h5>

                </div>
              </a>
              <a href="#" class="list-group-item list-group-item-action py-3">
                <div class="text-center">
                  <h5 class="mb-1">Titulo da pergunta Organizador</h5>

                </div>
              </a>
              <a href="#" class="list-group-item list-group-item-action py-3">
                <div class="text-center">
                  <h5 class="mb-1">Titulo da pergunta Organizador</h5>

                </div>
              </a>
              <a href="#" class="list-group-item list-group-item-action py-3">
                <div class="text-center">
                  <h5 class="mb-1">Titulo da pergunta Organizador</h5>

                </div>
              </a>
              <a href="#" class="list-group-item list-group-item-action py-3">
                <div class="text-center">
                  <h5 class="mb-1">Titulo da pergunta Organizador</h5>

                </div>
              </a>

            </div>
          </div>
        </div>



        <div style="border-left: 2px solid white; border-radius: 21px 21px 21px 21px;"
          class="col-lg-6 overflow-hidden pb-5">
          <div class="my-3 p-3 text-light text-center">
            <h2 class="display-5"><i class="bi bi-people-fill"></i> Doadores</h2>
            <p class="lead">Perguntas mais frequentes</p>
          </div>

          <div class="bg-light shadow-sm mx-auto h-auto overflow-auto"
            style="width: 85%; max-height:500px; border-radius: 21px 21px 21px 21px;">
            <div class="list-group py-3">
              <a href="#" class="list-group-item list-group-item-action py-3">
                <div class="text-center">
                  <h5 class="mb-1">Titulo da pergunta Organizador</h5>

                </div>
              </a>
              <a href="#" class="list-group-item list-group-item-action py-3">
                <div class="text-center">
                  <h5 class="mb-1">Titulo da pergunta Organizador</h5>

                </div>
              </a>
              <a href="#" class="list-group-item list-group-item-action py-3">
                <div class="text-center">
                  <h5 class="mb-1">Titulo da pergunta Organizador</h5>

                </div>
              </a>
              <a href="#" class="list-group-item list-group-item-action py-3">
                <div class="text-center">
                  <h5 class="mb-1">Titulo da pergunta Organizador</h5>

                </div>
              </a>
              <a href="#" class="list-group-item list-group-item-action py-3">
                <div class="text-center">
                  <h5 class="mb-1">Titulo da pergunta Organizador</h5>

                </div>
              </a>
              <a href="#" class="list-group-item list-group-item-action py-3">
                <div class="text-center">
                  <h5 class="mb-1">Titulo da pergunta Organizador</h5>

                </div>
              </a>
              <a href="#" class="list-group-item list-group-item-action py-3">
                <div class="text-center">
                  <h5 class="mb-1">Titulo da pergunta Organizador</h5>

                </div>
              </a>
              <a href="#" class="list-group-item list-group-item-action py-3">
                <div class="text-center">
                  <h5 class="mb-1">Titulo da pergunta Organizador</h5>

                </div>
              </a>
              <a href="#" class="list-group-item list-group-item-action py-3">
                <div class="text-center">
                  <h5 class="mb-1">Titulo da pergunta Organizador</h5>

                </div>
              </a>
              <a href="#" class="list-group-item list-group-item-action py-3">
                <div class="text-center">
                  <h5 class="mb-1">Titulo da pergunta Organizador</h5>

                </div>
              </a>

            </div>
          </div>
        </div>
  </section>





  <!-- Rodapé -->
  <footer>
    <div id="footer" class="w-100 container-fluid bg-dark">
      {{!-- <li><a class="dropdown-item" href="/faq">Dúvidas</a></li> --}}

    </div>
  </footer>



</body>

</html>