/* ===== Google Font Import - Poformsins ===== */
/* CONFIGURAÇÕES GERAIS */

body {
    background-color: rgb(248, 249, 250);
}

#logo1 {
    height: 10vh;
    margin-left: 20%;
}

#navbarItems {
    padding-right: 7vh;
}

.nav-link {
    margin-left: 5vh;
    font-size: 3vh;
    font-family: 'titin';
    letter-spacing: 0.2rem;
}

#nav-linkblue {
    color: rgb(0, 162, 255);
    cursor: pointer;
}

.navbar-dark .navbar-nav .nav-link:hover {
    position: relative;
    transition: ease-in-out 0.5s;
    color: rgb(0, 162, 255);
}


@font-face {
    font-family: 'titin';
    src: url('/abraham/1\ Abraham.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

#switchesButtons {
    background-color: rgb(0, 119, 255);
    /* teste */
}

#setaSlide {
    border-radius: 30px;
    height: 5vh;
    width: 3vh;
    padding: 2vh;
    /* teste */
}

.divMain {
    background-color: rgb(241, 241, 241);
    height: 80vh;
}

footer p {
    margin-bottom: 0;
    color: white
}

.centerP {
    text-align: center;
    margin-left: 50%;
    transform: translate(-50%, -50%);
}

footer {
    height: 15vh;
}

#footer {
    width: 100%;
    text-align: center;
}

/* PAGINA DE LOGIN */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
.modal-container.mostrar{
    display: flex;
}
/* @keyframes modal{
    from{
        opacity: 0;
        transform: translate3d(0, -60px, 0);
    }
    to {
        opacity: 1;
        transform: translate3d(0,0,0);
    }
}
.mostrar .modal{
    animation: modal .3s;
} */
.fechar{
    background-color: rgba(0, 0, 0, 0);
    position: absolute;
    right: 2%;
    top: 2%;
    border-radius: 1vh 1vh;
    font-weight: bold;
    border: none;
}
.fechar:hover{
    color: #4070f4;
}
.modal-container{
    display: none;
    top: 0px;
    left: 0px;
    position: fixed;
    width: 100vw;
    height: 100vh;
    background-color: rgba(58, 58, 58, 0.589);
    z-index: 4000;
}
.container{
    z-index: 5000;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 430px;
    width: 100%;
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    margin: 0 20px;
}

.container .forms{
    display: flex;
    align-items: center;
    height: 440px;
    width: 200%;
    transition: height 0.2s ease;
}


.container .form{
    width: 50%;
    padding: 30px;
    background-color: #fff;
    transition: margin-left 0.18s ease;
}

.container.active .login{
    margin-left: -50%;
    opacity: 0;
    transition: margin-left 0.18s ease, opacity 0.15s ease;
}

.container .signup{
    opacity: 0;
    transition: opacity 0.09s ease;
}
.container.active .signup{
    opacity: 1;
    transition: opacity 0.2s ease;
}

.container.active .forms{
    height: 600px;
}
.container .form .title{
    position: relative;
    font-size: 27px;
    font-weight: 600;
}

.form .title::before{
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    height: 3px;
    width: 30px;
    background-color: #4070f4;
    border-radius: 25px;
}

.form .input-field{
    position: relative;
    height: 50px;
    width: 100%;
    margin-top: 30px;
}

.input-field input{
    position: absolute;
    height: 100%;
    width: 100%;
    padding: 0 35px;
    border: none;
    outline: none;
    font-size: 16px;
    border-bottom: 2px solid #ccc;
    border-top: 2px solid transparent;
    transition: all 0.2s ease;
}

.input-field input:is(:focus, :valid){
    border-bottom-color: #4070f4;
}

.input-field i{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    color: #999;
    font-size: 23px;
    transition: all 0.2s ease;
}

.input-field input:is(:focus, :valid) ~ i{
    color: #4070f4;
}

.input-field i.icon{
    left: 0;
}
.input-field i.showHidePw{
    right: 0;
    cursor: pointer;
    padding: 10px;
}

.form .checkbox-text{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 20px;
}

.checkbox-text .checkbox-content{
    display: flex;
    align-items: center;
}

.checkbox-content input{
    margin: 0 8px -2px 4px;
    accent-color: #4070f4;
}

.form .text{
    color: #333;
    font-size: 14px;
}

.form a.text{
    color: #4070f4;
    text-decoration: none;
}
.form a:hover{
    text-decoration: underline;
}

.form .button{
    margin-top: 35px;
}

.form .button input{
    border: none;
    color: #fff;
    font-size: 17px;
    font-weight: 500;
    letter-spacing: 1px;
    border-radius: 6px;
    background-color: #4070f4;
    cursor: pointer;
    transition: all 0.3s ease;
}

.button input:hover{
    background-color: #265df2;
}

.form .login-signup{
    margin-top: 30px;
    text-align: center;
}
